* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  /* font-size= 10px --> 10px / 16px = 0.625 = 62,5% -- > 
  Percentage of user's browser font-size setting*/
  font-size: 62.5%;
}

.App {
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.button {
  height: 100%;
}

.section-products-list {
  padding: 1rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.img-upload-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
